.App {
    width: 100%;
    text-align: center;
  }
  
  .bumper {
    height: 6vh;
    background-color: #311B92;
    top: 0;
    left: 0;
}
  
  .body {
    height: 88vh;
    background-color: #0e1342;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
  }