#questionTile {
    height: 250px;
    width: 400px;
    margin: 25px 35px 25px 35px;
    font-size: 18px;
    font-weight: bold;
    background-color: #00E5FF;
    color: black;
    display:inline-block;
    box-shadow: 0 3px 40px 7px #680068;
}