#shuffleButton {
    height: 50px;
    width: 300px;
    margin: 30px;
    margin-top: 35vh;
    font-size: 22px;
    background-color: #00E5FF;
    color: black;
    font-weight: bold;
    box-shadow: 0 3px 20px 10px #680068;
}

#shuffleButton:disabled {
    
    background-color: #cccccc;
    color: rgb(136, 136, 136);
}
